<div class="card">
    <div class="card-header" id="basics-0-price">
        <div class="row">
        <div class="col">Current $WID Price: $30</div>
        <div class="col text-end">Your Cash: $100,000</div>
        </div>
    </div>
    <div class="card-body">
        <form class="px-2">
        <div class="form-group row py-1">
            <label for="basics-0-type" class="col-sm-2 col-form-label">Underlying</label>
            <div class="col-sm-10">
            <select id="disabledSelect" class="form-control" disabled>
                <option>$WID</option>
            </select>
            </div>
        </div>
        <div class="form-group row py-1">
            <label for="basics-0-type" class="col-sm-2 col-form-label">Option Type</label>
            <div class="col-sm-10">
            <select id="disabledSelect" class="form-control" disabled>
                <option>CALL</option>
            </select>
            </div>
        </div>
        <div class="form-group row py-1">
            <label for="basics-0-type" class="col-sm-2 col-form-label">Strike Price</label>
            <div class="col-sm-10">
            <select id="disabledSelect" class="form-control" disabled>
                <option>40</option>
            </select>
            </div>
        </div>
        <div class="form-group row py-1">
            <label for="basics-0-type" class="col-sm-2 col-form-label">Expiration Date</label>
            <div class="col-sm-10">
            <select id="disabledSelect" class="form-control" disabled>
                <option>2021-01-30</option>
            </select>
            </div>
        </div>
        <div class="form-group row py-1">
            <label for="basics-0-type" class="col-sm-2 col-form-label">Price</label>
            <div class="col-sm-10">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text">$</span>
                </div>
                <input type="text" class="form-control" aria-label="Price" value="1.50" disabled>
            </div>
            </div>
        </div>
        <div class="form-group row" onclick="basicsEx0Buy()">
            <button class="btn btn-primary">Buy</button>
        </div>
        </form>
    </div>
    {{.Inner}}
</div>


